<meta name="csrf-token" content="<%= csrfToken %>" />
<!-- csurf -->

<head>
  <!-- HTTP requests -->
  <script defer type="text/javascript" src="/js/fetching.js"></script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- insertion from templating engine -->
  <title><%= pageTitle %></title>

  <link rel="icon" href="data:;base64,=" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/product.css" />
  <link rel="stylesheet" href="/css/auth.css" />
</head>
