<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/">Shop</a></li>
      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <a href="/product-list">Products</a>
      </li>
      <!-- show links below only if user is logged -->
      <li class="main-header__item">
        <a href="/cart">Cart</a>
      </li>
      <li class="main-header__item">
        <a href="/admin/add-product">Add Product</a>
      </li>
      <li class="main-header__item">
        <a href="/admin/products">Admin Product</a>
      </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <!-- show links below only if user is not logged -->
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a href="/signup">Signup</a>
      </li>
      <% } else { %>
      <!-- show links below only if user is logged -->
      <li class="main-header__item">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
