<!DOCTYPE html>
<html lang="en">
  <!-- template insertion -->
  <%- include('includes/iHead.ejs') %>

  <body>
    <!-- template insertion -->
    <%- include('includes/iNav.ejs') %>
    <br />
    <!-- insertion from templating engine -->
    <div class="user-message">
      <h1><%= pageTitle %></h1>
    </div>
  </body>
</html>
