<!DOCTYPE html>
<html lang="en">
  <!-- template insertion -->
  <%- include('includes/iHead.ejs') %>

  <body>
    <!-- template insertion -->
    <%- include('includes/iNav.ejs') %>

    <!-- insertion from templating engine -->
    <h1><%= pageTitle %></h1>
  </body>
</html>
