<!DOCTYPE html>
<html lang="en">
  <!-- template insertion -->
  <%- include('includes/iHead.ejs') %>

  <body>
    <!-- template insertion -->
    <%- include('includes/iNav.ejs') %>
    <br />
    <!-- insertion from templating engine -->
    <div class="user-message user-message--error">
      <h1>500 - Error</h1>
    </div>
  </body>
</html>
